<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit actor</h1>
        </div>
    </div>
    
    <form action="/update_actor/<%= @actor.id %>">
        <div class="row">
            <div class="col-md-1">
                <label for="name">
                    Name
                </label>
            </div>

            <div class="col-md-11">
                <input id="name" type="text" name="the_name" value="<%= @actor.name %>">
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-1">
                <label for="dob">
                    Dob
                </label>
            </div>

            <div class="col-md-11">
                <input id="dob" type="text" name="the_dob" value="<%= @actor.dob %>">
            </div>
        </div>
        
        <div class="row">
           <div class="col-md-1"> 
               <label for="bio">
                    Bio
                </label>
            </div>

            <div class="col-md-11">
                <textarea rows="10" cols="75" id="bio" name="the_bio">
                    <%=@actor.bio%>
                </textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="image url">
                    Image url
                </label>
            </div>

            <div class="col-md-11">    
                <input id="image url" type="text" name="the_image_url" value="<%= @actor.image_url %>">
            </div>
        </div>
    
      <button>
        Update actor
      </button>
    </form>
</div>