<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>All Directors</h1>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <a href="/directors/new">Add a new director</a>
        </div>
    </div>

  <% @list_of_directors.each do |the_director| %>
    <div class="well well-lg">
        <div class="row">
            <div class="col-md-3">Picture</div>
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Birthdate</div>
            <div class="col-md-5">Biography</div>
        </div>
    
        <div class="row">
            <div class="col-md-3">
                <img src="<%= the_director.image_url %>" class="thumbnail">
                <!--<%= the_director.image_url %>-->
            </div>
            <div class="col-md-2">
                <%= the_director.name %>
            </div>
            <div class="col-md-2">
                <%= the_director.dob %>
            </div>
            <div class="col-md-5">
                <%= the_director.bio %>
            </div>
            <div class = "col-md-2">
                Image URL
            </div>
            <div class = "col-md-10">
                <%= the_director.image_url %>
            </div>
        </div>
        
        <div class="row">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                    <a href="/directors/<%= the_director.id %>">Show Details</a>
                </button>
                
                <button type="button" class="btn btn-default">
                    <a href="/directors/<%= the_director.id %>/edit">Edit Details</a>
                </button>
                
                <button type="button" class="btn btn-default">
                    <a href="/delete_director/<%= the_director.id %>">Delete Director</a>
                </button>
            </div>
        </div>
    </div>
  <%end %>
</div>